Repository MegumiKishibe/Logi-Balance: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

eslint:
  run: yarn eslint --ignore-pattern vendor/javascript/**/* {staged_files}

rubocop:
  run: bundle exec rubocop --force-exclusion {all_files}

add flexible screen
  app/assets/stylesheets/common.css
  app/views/delivery_stops/new.html.erb
Due: none

fix css
  app/assets/stylesheets/common.css
  app/views/deliveries/new.html.erb
  app/views/delivery_stops/index.html.erb
  app/views/delivery_stops/new.html.erb
  app/views/devise/sessions/new.html.erb
Due: none

Bump brakeman to 7.1.2
  Gemfile.lock
Due: none

Update brakeman binstub
  bin/brakeman
Due: none

fix JS
  app/javascript/delivery_stops.js
Due: eslint

fixed errors suggested by rubocop
  app/controllers/analytics_controller.rb
  app/javascript/application.js
  app/views/analytics/monthly.html.erb
  app/views/analytics/weekly.html.erb
  app/views/layouts/application.html.erb
  config/importmap.rb
  lib/tasks/demo_seed.rake
  vendor/javascript/@kurkle--color.js
  vendor/javascript/chart.js--auto.js
  vendor/javascript/chart.js--helpers.js
  vendor/javascript/chart.js.js
  vendor/javascript/chartjs-plugin-annotation.js
Due: eslint, rubocop

fixed errors
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/common.css
  app/controllers/dashboard_controller.rb
  app/views/dashboard/courses.html.erb
  app/views/dashboard/daily.html.erb
  app/views/dashboard/index.html.erb
Due: rubocop

add average line
  app/controllers/analytics_controller.rb
  app/views/analytics/index.html.erb
Due: rubocop

edit README
  README.md
  docs/README.md
  docs/_proposal.md
Due: none

edit importmap
  config/importmap.rb
Due: rubocop

Remove sqlite3 dependency (use mysql2 only)
  Gemfile
  Gemfile.lock
Due: none

Remove thruster and unused bin/thrust
  Gemfile
  Gemfile.lock
Due: none

fixed rubocop
  README.md
  app/assets/stylesheets/common.css
  app/models/employee.rb
  app/views/devise/sessions/new.html.erb
  config/routes.rb
Due: rubocop

Refactor routes: use member block for deliveries#finish
  config/routes.rb
Due: none

feat: calculate and persist score snapshot after CSV import
  app/controllers/deliveries_controller.rb
  app/models/score_snapshot.rb
  app/services/daily_csv_importer.rb
  app/services/score_calculator.rb
  app/services/score_snapshot_creator.rb
  app/views/deliveries/import.html.erb
  app/views/shared/_sidebar.html.erb
  config/routes.rb
Due: rubocop

fix size and font for side_bar and buttons
  app/assets/stylesheets/common.css
  app/views/deliveries/new.html.erb
Due: none

fix rubocop suggestions
  .DS_Store
  app/models/csv_import.rb
  app/services/daily_csv_importer.rb
  db/migrate/20260120062457_create_csv_imports.rb
  db/migrate/20260120062935_add_unique_index_to_csv_imports_file_hash.rb
  db/schema.rb
Due: rubocop

edit README, add logo
  .DS_Store
  README.md
  app/assets/images/Logi-Balance-logo.png
  app/assets/images/readme-hero.png
  app/assets/stylesheets/common.css
  app/views/layouts/application.html.erb
  docs/_proposal.md
Due: none

edit pass "Logo-image"
  README.md
Due: none

edit explanation of MVP
  README.md
Due: none

edit readme add images
  README.md
  app/assets/images/analytics.png
  app/assets/images/dashboard.png
Due: none

sth schanged
  README.md
Due: none

終了指針なしで途中終了の場合はデータを保存しない。
  app/controllers/dashboard_controller.rb
  app/models/daily_course_run.rb
  app/views/daily_course_run_stops/new.html.erb
  app/views/dashboard/daily.html.erb
  app/views/dashboard/index.html.erb
Due: rubocop

changed demo_seed.rake causeof remake data name
  lib/tasks/demo_seed.rake
Due: none

旧命名を新命名版に変更
  lib/tasks/demo_seed.rake
Due: none

rename 走行距離
  app/views/dashboard/index.html.erb
Due: none

reset demo_seed remove [DEMO]course
  lib/tasks/demo_seed.rake
Due: none

fixed suggestion from rubocop
  lib/tasks/demo_seed.rake
Due: none

RSpec test
  .rspec
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
  spec/services/score_calculator_spec.rb
  spec/smoke_spec.rb
  spec/spec_helper.rb
Due: rubocop

fix suggestions by rubocop
  spec/services/score_calculator_db_spec.rb
Due: rubocop

edit readme,er-diagram.md
  app/controllers/daily_course_runs_controller.rb
  app/controllers/dashboard_controller.rb
  config/routes.rb
  docs/README.md
  docs/er-diagram.md
  docs/erd/schema.dbml
Due: rubocop

edit routing to schema.dbml
  docs/er-diagram.md
Due: none

fixed suggestions from rubicio
  app/assets/stylesheets/common.css
  app/controllers/analytics_controller.rb
  app/controllers/daily_course_runs_controller.rb
  app/services/analytics_highlight_service.rb
  app/views/analytics/index.html.erb
  app/views/analytics/monthly.html.erb
  app/views/analytics/weekly.html.erb
Due: rubocop

@highlightsの読み込み変更
  app/views/analytics/index.html.erb
Due: none

CSVimport理解のために再作成
  app/controllers/daily_course_runs_controller.rb
  app/models/csv_import.rb
  app/services/daily_csv_importer.rb
  app/services/old_daily_csv_importer.rb
  docs/erd/schema.dbml
Due: rubocop

remove old importer
  app/services/old_daily_csv_importer.rb
Due: rubocop

卒業制作README
  README.md
Due: none

テンプレート不足分追加
  docs/runteq-submission.md
Due: none

指摘3項目に基づいた変更
  docs/runteq-submission.md
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  rubocop: any of: *.rb, but not: config/application.rb, config/routes.rb
