Repository MegumiKishibe/Logi-Balance: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

eslint:
  run: yarn eslint --ignore-pattern vendor/javascript/**/* {staged_files}

rubocop:
  run: bundle exec rubocop --force-exclusion {all_files}

edit analytics-controller
  app/controllers/analytics_controller.rb
Due: rubocop

edit production.rb
  config/environments/production.rb
Due: rubocop

fix: rubocop auto-correct
  config/environments/production.rb
Due: rubocop

coment out cache
  config/environments/production.rb
Due: rubocop

edit line at catch
  config/environments/production.rb
Due: rubocop

edit database.yml
  config/database.yml
Due: none

fix: add /up health check route
  config/environments/production.rb
  config/routes.rb
Due: rubocop

Apply RuboCop auto-corrections
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/sessions_controller.rb
  app/models/employee.rb
  app/views/deliveries/new.html.erb
  app/views/delivery_stops/index.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/employees/confirmations/new.html.erb
  app/views/employees/mailer/confirmation_instructions.html.erb
  app/views/employees/mailer/email_changed.html.erb
  app/views/employees/mailer/password_change.html.erb
  app/views/employees/mailer/reset_password_instructions.html.erb
  app/views/employees/mailer/unlock_instructions.html.erb
  app/views/employees/passwords/edit.html.erb
  app/views/employees/passwords/new.html.erb
  app/views/employees/registrations/edit.html.erb
  app/views/employees/registrations/new.html.erb
  app/views/employees/shared/_error_messages.html.erb
  app/views/employees/shared/_links.html.erb
  app/views/employees/unlocks/new.html.erb
  app/views/layouts/application.html.erb
  app/views/sessions/new.html.erb
  app/views/shared/_sidebar.html.erb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20251217161654_add_devise_to_employees.rb
  db/schema.rb
Due: rubocop

Fix Devise authentication keys for employee_no only
  config/initializers/devise.rb
Due: rubocop

Disable LeadingCommentSpace
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/initializers/devise.rb
  db/migrate/20251217161654_add_devise_to_employees.rb
Due: rubocop

feat: switch Devise login to employee_no and fix post-login redirect
  Gemfile
  app/controllers/dashboard_controller.rb
  config/routes.rb
Due: rubocop

Configure production DB with primary and cache databases
  config/database.yml
Due: none

Disable solid_cache to avoid production cache DB dependency
  Gemfile
  Gemfile.lock
  config/application.rb
Due: none

Add Devise columns to employees and make DB config safer locally
  config/database.yml
  db/migrate/20251217161654_add_devise_to_employees.rb
Due: rubocop

delete @employee from deliveries-controller
  app/controllers/deliveries_controller.rb
  db/migrate/20251217161654_add_devise_to_employees.rb
Due: rubocop

Fix routes for deliveries index
  app/controllers/deliveries_controller.rb
  config/routes.rb
Due: rubocop

Replace session employee lookup with current_employee in delivery_stops view
  app/views/delivery_stops/new.html.erb
Due: none

Fix 404 on deleting delivery stops
  config/routes.rb
Due: none

fix: fix 404 on delivery_stop delete and create via nested delivery route
  app.js
  app/controllers/delivery_stops_controller.rb
  app/javascript/delivery_stops.js
Due: eslint, rubocop

Fix delivery stop complete timestamp display
  app/controllers/delivery_stops_controller.rb
  app/javascript/delivery_stops.js
  app/views/delivery_stops/new.html.erb
Due: eslint, rubocop

Fix: show completed_at timestamp on delivery stop complete
  app/controllers/delivery_stops_controller.rb
  app/javascript/delivery_stops.js
Due: eslint, rubocop

Fix: show completed_at timestamp when completing delivery stop
  app/javascript/delivery_stops.js
Due: eslint

Add odometer end input before redirect and show daily aggregates on completed list
  app/controllers/deliveries_controller.rb
  app/controllers/delivery_stops_controller.rb
  app/helpers/application_helper.rb
  app/views/delivery_stops/index.html.erb
  app/views/delivery_stops/new.html.erb
  config/routes.rb
Due: rubocop

Add annual demo seed/purge rake tasks
  lib/tasks/demo_seed.rake
Due: none

Fix RuboCop offenses
  lib/tasks/demo_seed.rake
Due: none

remove colomun email
  lib/tasks/demo_seed.rake
Due: none

create calculate for demo-data
  app/controllers/delivery_stops_controller.rb
  app/services/score_calculator.rb
  lib/tasks/demo_seed.rake
Due: rubocop

fix rubocop
  lib/tasks/demo_seed.rake
Due: none

fix rooting name
  app/views/settings/driver.html.erb
Due: none

fix setting-controller
  app/controllers/settings_controller.rb
Due: rubocop

Add Kaminari pagination to dashboard (10 days per page)
  Gemfile
  Gemfile.lock
  app/controllers/dashboard_controller.rb
  app/views/dashboard/index.html.erb
Due: rubocop

update common CSS
  app/assets/stylesheets/common.css
  app/javascript/delivery_stops.js
  app/views/deliveries/new.html.erb
  app/views/delivery_stops/new.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_sidebar.html.erb
Due: eslint

bin/rubocop -A --only Layout/TrailingEmptyLines
  Gemfile
Due: none

fix css for page 0f course
  app/assets/stylesheets/common.css
  app/javascript/delivery_stops.js
  app/views/deliveries/new.html.erb
  app/views/delivery_stops/index.html.erb
  app/views/delivery_stops/new.html.erb
Due: eslint

add css page of course.html
  app/assets/stylesheets/common.css
  app/views/dashboard/courses.html.erb
  app/views/layouts/application.html.erb
Due: none

add css page of index/daily.html
  app/assets/stylesheets/common.css
  app/views/dashboard/daily.html.erb
  app/views/dashboard/index.html.erb
Due: none

add css monthly/weekly.html
  app/assets/stylesheets/common.css
  app/views/analytics/index.html.erb
  app/views/analytics/monthly.html.erb
  app/views/analytics/weekly.html.erb
Due: none

add css for setting page
  app/assets/stylesheets/common.css
  app/views/settings/destination.html.erb
  app/views/settings/driver.html.erb
  app/views/settings/index.html.erb
Due: none

add css for login page
  app/assets/stylesheets/common.css
  app/views/devise/sessions/new.html.erb
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  rubocop: any of: *.rb, but not: config/application.rb, config/routes.rb
